body {
    background-color: black;
    height: 90vh
}

header {
    display: flex;
    justify-content: start;
    padding-left: 20px;
    align-items: center;
    background: linear-gradient(yellow, lightblue);
}

main {
    display: flex;
    flex-direction: row;
    padding-right: 70px;
    padding-bottom: 20px;
    background: linear-gradient(lightblue,  blue);
}

#the-weather {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

aside {
    border-right: 2px solid black;
    padding: 0 20px 0 20px;
}

#search-form {
    display: flex;
    padding: 5px;
}

#current-forecast {
    width: 40%;
    background: linear-gradient(lightblue, white);
    border-radius: 5%;
    margin-left: 40px;
    padding: 1%;
}

#five-day-fore {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 20px;
}

.bruh {
    width: 100%;
    padding-right: 10px;
    margin-left: 20px;
}

.title {
    margin-top: 0%;
}

.days {
    width: 120px;
    background: linear-gradient(lightblue, white);
    border-radius: 5%;
    padding: 0 10px 0 10px;
    margin-top: 2%;
    margin-left: 20px;
}
