body {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(yellow, lightblue);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    background: linear-gradient(lightblue,  blue);
    padding-bottom: 20px;
}